header{
    margin-top: 100px;
    text-align: 
}
body{
    font-family: 'Questrial', sans-serif;
    margin: auto;
    width: 550px;
}
.answer{
    border: 1px solid;
    padding: 20px;
}
mark{
    background-color: lightgoldenrodyellow;
    position: relative;
}

a:link{
    color: cornflowerblue;
    text-decoration: 
}
a:visited{
    color: cornflowerblue;
}
a:hover{
    background-color: aquamarine;
    
}

#highlight{
    width: 240px;
    height: 20px;
    position: relative;
    left: 3px;
    bottom: 30px;
    z-index: -1;
}
#highlight1{
    width: 90px;
    height: 15px;
    position: relative;
    left: 5px;
    bottom: 26px;
    z-index: -1;
}
#highlight2{
    width: 170px;
    height: 15px;
    position: relative;
    left: 5px;
    bottom: 25px;
    z-index: -1;
}
#highlight3{
    width: 140px;
    height: 15px;
    position: relative;
    left: -130px;
    bottom: -8px;
    z-index: -1;
}
#highlight4{
    width: 180px;
    height: 15px;
    position: relative;
    left: -170px;
    bottom: -8px;
    z-index: -1;
}